<?xml version="1.0"?>
<configuration>

  <location path="Centers.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Children.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Admin, Manager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--<location path="ChildrenGroups.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Admin, Manager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>-->
  
<location path="TrackGroupActivities.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Admin, Manager, Teacher" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>